<footer class="bg-grey-4 ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-between">

		</div>
		<div class="measure-narrow center mb4">

			<img src="/img/logo-alt.png" alt="Origin logo" class="db w5 center mb4 br0">
			<p class="f3 lh-title b tc mb2">{{ .Site.Data.footer.title }}</p>
			<p class="tc">{{ .Site.Data.footer.blurb }}</p>

			{{ partial "contact-form" . }}

		</div>

		<!-- <div class="flex-ns justify-between">
			
			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook" "alt" "Origin Hummus on Facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter" "alt" "Origin Hummus on Twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram" "alt" "Origin Hummus on Instagram") }}
				</ul>
			</div>

		</div> -->
	</div>

</footer>

