<div class="pv4">
  <div class="ph3 mw7 center">
    <h2 class="f3 b lh-title mb2">{{.heading}}</h2>
    <p class="mb2 mw6">{{.text}}</p>

    <div class="flex-ns mhn2-ns mb3">
      {{ range .locations }}
      <div class="ph1-ns w-50-ns tc">
        <a href="{{.link}}" target="_blank"><img src="{{.image}}" alt="" class="center db mb3 w-100 br1"></a>
        <h3 class="f4 b">{{.title}}</h3>
        <p>{{.address}}</p>
      </div>
      {{ end }}
    </div>

    <!-- <div class="tc">
      <a href="/products" class="btn raise">See all products</a>
    </div> -->
  </div>
</div>
